{% load static %}
<!doctype html>

<html>
    <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">

            </script><meta charset="utf-8">
    </head>
    <div>
        <div class="container" style="background-color:#84a3e1">
            <h1><a href="/">Learn Hanja</a></h1></div>
        {% block container %}
        {% endblock %}
            <div class="container">
            {% if zalogowany %}
                <p> <strong>{{ myuser }}</strong> <a href="/logout">Log out</a></p>
            {% else %}
              <p>Not logged in <a href="/login">Log in</a></p>
            {% endif %}
            </div>
    </div>
{#        button dodaj komentarz#}
        {% block add_comment %}
{#            <div>#}
{#                <a href="/compose_comments">#}
{#                    <input type="button" value="add a comment">#}
{#                 </a>#}
{#            </div>#}
             <div class="container"><a class="btn btn-primary" href="compose_comments" role="button">Add a comment</a>
             </div>
        {% endblock add_comment %}
    </body>
</html>
