{% extends 'base.html' %}

{% block container %}
    <div class="container" style="background-color:#e0e0eb"><h2>Best Scores:</h2></div>
    <div class="container">
<table class="table table-sm">
    {% for score in page_obj %}
    <tr>
        <td><strong> {{ score.player }}</strong> &raquo;</td>
        <td> points <strong>{{ score.players_score }}</strong> out of 10 &raquo;</td>
        <td> {{ score.when }}</td>
    </tr>
    {% endfor %}
</table>
    </div>
<div class="container">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}"><strong>previous</strong></a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><strong>next</strong></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}

