{% extends 'base.html' %}

{% block container %}
    <div class="container" style="background-color:#e0e0eb"><h2>Check answers:</h2></div></div>
   <div class="container"> <table class="table table-sm">
        {% for answer in answers %}
        <tr>
            <td>{{ answer.task.char_character }}</td>
            <td>The right answer: <strong>{{ answer.task.guessed_right }}</strong> &raquo;</td>
            <td>Your answer was: <strong>{{ answer.correct }}</strong></td>
        </tr>
        {% endfor %}
    </table>
   </div>
{% endblock %}