{% extends 'base.html' %}

{% block container %}
    <div class="container" style="background-color:#e0e0eb">
    <h2>Welcome to the HanjaApp</h2>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href=""> Home &nbsp&nbsp&nbsp&nbsp</a></li>
  <li role="presentation"><a href="/play"> Play &nbsp&nbsp&nbsp&nbsp</a></li>
  <li role="presentation"><a href="/best_scores"> Best Scores&nbsp&nbsp&nbsp&nbsp</a></li>
    <li role="presentation"><a href="/check_answers"> Check your last naswers&nbsp&nbsp&nbsp&nbsp</a></li>
    <li role="presentation"><a href="/add"> Add a New User</a></li>
</ul>
    </div>
    <div class="container">
    <p style="color:black;font-size:100px;text-align:center">歡迎</p></div>

{% endblock %}