{% extends 'base.html' %}

{% block container %}
    <div class="container" style="background-color:#e0e0eb">
        <h2>Game</h2></div>
            <div class="container"><label><h3>Choose the right meaning of:</h3><br></label>
    <img src="{{ image.url }}" width="300" height="300"></div>
   <form action="{{ action }}", method="post">
     {% csrf_token %}
   <div class="container">
         {% for element in list_answers %}
             <label>
             <label><strong><input type="radio" name="answer" value="{{ element }}">{{ element }}</strong></label>
             </label>
             <br>
         {% endfor %}
   </div>
   <div class="container"><input type="submit" value="Submit"></div>
   <input type="hidden" name="puzzle_id" value="{{ puzzle_id }}">
       <div class="container">Question <strong>{{ score_games_number }}</strong> / 10.</div>
   <div class="container">
       You have earned <strong>{{ score }}</strong> / 10.</div>
    </form>
{% endblock %}